﻿@page "/lessons/list/{Page}"
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@using Newtonsoft.Json;
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Информация успешно обновлена.", "Изменение данных");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "created")
{
    Toaster.Success("Информация успешно добавлена.", "Добавление данных");
    Storage.RemoveItem("Transaction");
}

<h1>Список уроков</h1>

@if (Lessons != null)
{
    <div class="row mb-3">
        <div class="col-md-7">
            @if (isLoggedOn())
            {
                <BSButton Class="btn btn-primary" @onclick="@(async () => await AddAsync())">Добавить урок</BSButton>
            }
        </div>
    </div>

    <BSTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Тема</th>
                <th>Дата начала</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Lessons.Results.OrderBy(e => e.DateLesson))
            {
                <tr>
                    <td>@element.Id</td>
                    <td>@element.Name</td>
                    <td>@element.DateLesson.ToString("dd MMMM yyyy HH:mm")</td>
                    <td>
                        @if (isLoggedOn())
                        {
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(() => ModifyCard(element.Id))"></BSButton>
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteAsync(element.Id))"></BSButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
    <Pager Result=@Lessons PageChanged=PagerPageChanged />
}
else if (_loadFailed)
{
    Toaster.Error("Произошла ошибка загрузки данных...", "Ошибка");
    <p><em>Попробуйте обновить страницу...</em></p>
}
else
{
    <p><em>Загрузка...</em></p>
}

@*Удаление уроков*@
<div>
    <BSModal @bind-IsOpen="isDelete" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-12">
                <BSAlert Color="Color.Danger">Вы точно хотите удалить урок?</BSAlert>
                <BSTable IsResponsive="true" class="table">
                    <tr>
                        <td>Тема</td>
                        <td>@lesson.Name</td>
                    </tr>
                    <tr>
                        <td>Дата начала</td>
                        <td>@lesson.DateLesson.ToString("dd MMMM yyyy HH:mm")</td>
                    </tr>
                    <tr>
                        <td>Есть домашние задания</td>
                        <td>@(CurrentLessonHasHomework == true ? "Да" : "Нет")</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>@lesson.Description</td>
                    </tr>
                </BSTable>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" @onclick="@(async() => await RemoveLessonAsync())">Удалить</button>
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    private int pageSize = 7;

    protected PagedResult<Lesson> Lessons;
    protected Lesson lesson = new Lesson();
    protected int CurrentLessonId { get; set; }
    protected List<Homework> CurrentLessonHomeworks { get; set; }
    protected bool CurrentLessonHasHomework { get; set; }

    protected string modalTitle { get; set; }
    protected bool isDelete { get; set; }

    private bool _loadFailed;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            string requestUri;
            string response;
            IList<Lesson> lessons;
            int.TryParse(Page, out int pageNumber);

            _loadFailed = false;

            requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
            response = await Http.GetStringAsync(requestUri);
            lessons = JsonConvert.DeserializeObject<IList<Lesson>>(response);

            Lessons = new PagedResult<Lesson>
            {
                CurrentPage = pageNumber,
                PageSize = pageSize,
                PageCount = 1 + lessons.Count / pageSize,
                Results = lessons.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList(),
            };
        }
        catch (Exception ex)
        {
            _loadFailed = true;
            Console.WriteLine("OnParametersSetAsync :error = " + ex.Message);
        }

        await base.OnParametersSetAsync();
    }

    protected bool isLoggedOn()
    {
        //return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
        Console.WriteLine("isLoggedOn");
        return true;
    }

    /// <summary>
    /// Открыть карточку урока для просмотра/изменения.
    /// </summary>
    /// <param name="entityId">Идентификатор урока.</param>
    private void ModifyCard(int entityId)
    {
        string uri = "/lessons/" + entityId.ToString();
        this.UriHelper.NavigateTo(uri);
    }

    /// <summary>
    /// Открыть карточку урока для создания нового урока.
    /// </summary>
    /// <param name="entityId">Идентификатор урока.</param>
    private void CreateCard(int entityId)
    {
        string uri = "/lessons/create/" + entityId.ToString();
        this.UriHelper.NavigateTo(uri);
    }

    /// <summary>
    /// Добавить/создать новый урок.
    /// </summary>
    private async Task AddAsync()
    {
        // var token = Storage["JWT-Token"];
        // Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        string requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
        string response = await Http.GetStringAsync(requestUri);
        int maxId = JsonConvert.DeserializeObject<IList<Lesson>>(response).Max(l => l.Id) + 1;
        CreateCard(maxId);
    }

    /// <summary>
    /// Удалить урок.
    /// </summary>
    /// <param name="lessonId">Идентификатор урока.</param>
    /// <returns>Асинхронная операция.</returns>
    protected async Task DeleteAsync(int lessonId)
    {
        string requestUri;

        // Собираем данные об уроке.
        requestUri = Storage.GetItem("environment_uri") + "/api/lesson/GetById?id=" + lessonId;
        lesson = await Http.GetJsonAsync<Lesson>(requestUri);
        CurrentLessonId = lessonId;

        // Получаем домашние задания урока.
        requestUri = Storage.GetItem("environment_uri") + "/api/homework";
        string response = await Http.GetStringAsync(requestUri);
        this.CurrentLessonHomeworks = JsonConvert.DeserializeObject<IList<Homework>>(response).Where(hw => hw.LessonId == lessonId).ToList();
        this.CurrentLessonHasHomework = this.CurrentLessonHomeworks.Any();

        this.isDelete = true;
        this.modalTitle = "Удаление домашнего задания";
    }

    /// <summary>
    /// Удалить урок.
    /// </summary>
    /// <returns>Асинхронная операция.</returns>
    private async Task RemoveLessonAsync()
    {
        string requestUri;

        // Удаляем домашние задания, связанные с уроком

        foreach (var hw in this.CurrentLessonHomeworks)
        {
            requestUri = Storage.GetItem("environment_uri") + "/api/homework?id=" + hw.Id;
            await Http.DeleteAsync(requestUri);
        }

        // Удаляем урок
        requestUri = Storage.GetItem("environment_uri") + "/api/lesson?id=" + this.CurrentLessonId;
        await Http.DeleteAsync(requestUri);

        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    protected void PagerPageChanged(int pageNumber)
    {
        UriHelper.NavigateTo("/lessons/list/" + pageNumber);
    }

    protected void CloseModal()
    {
        this.lesson = new Lesson();
        this.CurrentLessonId = 0;
        this.CurrentLessonHasHomework = false;
        this.CurrentLessonHomeworks = new List<Homework>();
        this.isDelete = false;
        StateHasChanged();
    }
}
