﻿@page "/lessons/{Id}"
@page "/lessons/create/{NewId}"
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@using ScrumRatingFront.Pages.Homework;
@using Newtonsoft.Json;
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Информация успешно обновлена.", "Изменение данных");
    Storage.RemoveItem("Transaction");
}

@if (this.lesson != null)
{
    <form>
        <div class="float-right">
            <BSButton Class="btn btn-success" @onclick="async () => await SaveAsync()">Сохранить</BSButton>
        </div>
        <div>
            <h1>Урок #@this.lesson.Id</h1>
        </div>
            <div class="form-group row">
                <label for="topic" class="col-sm-2 col-form-label">Тема</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="topic" @bind="this.lesson.Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="startDateTime" class="col-sm-2 col-form-label">Дата начала</label>
                <div class="col-sm-3">
                    <input type="datetime" class="form-control" id="startDateTime" @bind="this.lesson.DateLesson" @bind:format="dd-MM-yyyy HH:mm" placeholder="01-01-2020 10:00">
                </div>
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" id="description" rows="5" @bind="this.lesson.Description"></textarea>
            </div>
        <div>
            <HomeworkList LessonId=@this.lesson.Id />
        </div>
    </form>
    }
    else
    {
    <p>Урок не найден.</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string NewId { get; set; }

    private Lesson lesson;
    private bool _loadFailed;

    protected async override Task OnInitializedAsync()
    {
        if (Id != null)
        {
            await GetDataAsync();
        }
        else
        {
            this.lesson = new Lesson { Id = int.Parse(NewId) };
        }

        StateHasChanged();
    }

    /// <summary>
    /// Получает данные об уроке.
    /// </summary>
    /// <returns>Асинхронная операция.</returns>
    private async Task GetDataAsync()
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/lesson/GetById?id=" + this.Id;
        lesson = await Http.GetJsonAsync<Lesson>(requestUri);
    }

    /// <summary>
    /// Сохранить изменения.
    /// </summary>
    /// <returns>Асинхронная операция.</returns>
    private async Task SaveAsync()
    {
        if (Id != null)
        {
            string requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
            await Http.SendJsonAsync(HttpMethod.Put, requestUri, this.lesson);
        }
        else
        {
            string requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
            await Http.SendJsonAsync(HttpMethod.Post, requestUri, this.lesson);
        }

        this.Id = this.lesson.Id.ToString();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    private void NavigateToList()
    {
        UriHelper.NavigateTo("/lessons/list/1");
    }
}
