@page "/course/list/{Page}"
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@using Newtonsoft.Json;
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster


@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Информация успешно обновлена.", "Изменение данных");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "created")
{
    Toaster.Success("Информация успешно добавлена.", "Добавление данных");
    Storage.RemoveItem("Transaction");
}

<h1>Список курсов</h1>

<div class="row mb-3">
    <div class="col-md-7">
        @if (isLoggedOn())
        {
            <BSButton Class="btn btn-primary" @onclick="AddCourse">Добавить курс</BSButton>
        }
    </div>
</div>

@if (Courses != null)
{
    <BSTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Наименование</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>                
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Courses.Results)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Name</td>
                    <td>@course.StartDate.ToString("dd.MM.yyyy")</td>
                    <td>@course.FinishDate.ToString("dd.MM.yyyy")</td>                    
                    <td>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewCourse(course.Id))"></BSButton>
                        @if (isLoggedOn())
                        {
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await UpdateCourse(course.Id))"></BSButton>
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteCourse(course.Id))"></BSButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
    <Pager Result=@Courses PageChanged=PagerPageChanged />
}
else if (_loadFailed)
{
    Toaster.Error("Произошла ошибка загрузки данных..", "Ошибка");
    <p><em>Попробуйте обновить страницу...</em></p>
}
else
{
    <p><em>Загрузка...</em></p>
}

<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                <EditForm Model="@course" OnValidSubmit="@CreateCourse">
                    <DataAnnotationsValidator />



                    <div class="form-group">
                        <label for="StartDate" class="control-label">Дата начала</label>
                        <input type="datetime" class="form-control" id="StartDate" @bind="course.StartDate" @bind:format="dd-MM-yyyy " placeholder="01-01-2020">
                    </div>

                    <div class="form-group">
                        <label for="FinishDate" class="control-label">Дата окончания</label>
                        <input type="datetime" class="form-control" id="FinishDate" @bind="course.FinishDate" @bind:format="dd-MM-yyyy " placeholder="01-01-2020">
                    </div>

                    <div class="form-group">
                        <label for="Name" class="control-label">Наименование</label>
                        <InputText id="Name" class="form-control" @bind-Value="course.Name" />
                        <ValidationMessage For="@(() => course.Name)" />
                    </div>

                    <div class="form-group">
                        <label for="Description" class="control-label">Описание</label>
                        <InputText id="Description" class="form-control" @bind-Value="course.Description" />
                        <ValidationMessage For="@(() => course.Description)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

<div>
    <BSModal @bind-IsOpen="isView" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                @if (isDelete)
                {
                    <BSAlert Color="Color.Danger">Вы точно хотите удалить курс?</BSAlert>
                }
                <BSTable IsResponsive="true" class="table">
                    <tr>
                        <td>Id</td>
                        <td>@course.Id</td>
                    </tr>
                    <tr>
                        <td>Наименование</td>
                        <td>@course.Name</td>
                    </tr>
                    <tr>
                        <td>Дата начала</td>
                        <td>@course.StartDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                    <tr>
                        <td>Дата окончания</td>
                        <td>@course.FinishDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>@course.Description</td>
                    </tr>
                </BSTable>
                <div class="form-group">
                    @if (isDelete)
                    {
                        <button type="button" class="btn btn-danger" @onclick="@(async() => await RemoveCourse())">Удалить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    }
                    @if (!isDelete)
                    {
                        <button class="btn btn-primary" @onclick="CloseModal">Назад</button>
                    }
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    private int pageSize = 10;

    protected PagedResult<Course> Courses;
    protected Course course = new Course();

    protected int CurrentCourseId { get; set; }
    protected string modalTitle { get; set; }
    protected bool isAdd { get; set; }
    protected bool isView { get; set; }
    protected bool isDelete { get; set; }

    private bool _loadFailed;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        try
        {
            _loadFailed = false;
            int.TryParse(Page, out int pageNumber);
            string requestUri = Storage.GetItem("environment_uri") + "/api/course";
            var courseString = await Http.GetStringAsync(requestUri);
            var courseList = JsonConvert.DeserializeObject<IList<Course>>(courseString);

            Courses = new PagedResult<Course>
            {
                CurrentPage = pageNumber,
                PageSize = pageSize,
                PageCount = 1 + courseList.Count / pageSize,
                Results = courseList.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList(),
            };
        }
        catch (Exception ex)
        {
            _loadFailed = true;
            Console.WriteLine("OnParametersSetAsync :error = " + ex.Message);
        }
    }

    protected bool isLoggedOn()
    {
        //return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
        Console.WriteLine("isLoggedOn");
        return true;
    }

    protected void PagerPageChanged(int page)
    {
        Courses.CurrentPage = page;
        Courses.PageSize = pageSize;

        UriHelper.NavigateTo("/course/list/" + page);
    }

    protected void AddCourse()
    {
        this.isAdd = true;
        this.modalTitle = "Создание курса";
    }

    protected async Task UpdateCourse(int courseId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/course/GetById?id=" + Convert.ToInt32(courseId);
        course = await Http.GetJsonAsync<Course>(requestUri);
        CurrentCourseId = courseId;
        this.isAdd = true;
        this.modalTitle = "Редактирование курса";
    }

    protected async Task ViewCourse(int courseId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/course/GetById?id=" + Convert.ToInt32(courseId);
        course = await Http.GetJsonAsync<Course>(requestUri);
        CurrentCourseId = courseId;
        this.isView = true;
        this.modalTitle = "Просмотр курса";
    }

    protected async Task DeleteCourse(int courseId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/course/GetById?id=" + Convert.ToInt32(courseId);
        course = await Http.GetJsonAsync<Course>(requestUri);
        CurrentCourseId = courseId;
        this.isView = true;
        this.isDelete = true;
        this.modalTitle = "Удаление курса";
    }

    protected async Task CreateCourse()
    {
        // var token = Storage["JWT-Token"];
        // Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        if (CurrentCourseId == 0)
        {
            int maxId = Courses.Results.Max(t => t.Id) + 1;
            course.Id = maxId;
            Console.WriteLine("stu " + course.Id);
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/course", course);
            Storage.SetItem("Transaction", "created");
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Patch, Storage.GetItem("environment_uri") + "/api/course", course);
            Storage.SetItem("Transaction", "modified");
        }
        CloseModal();
        await OnParametersSetAsync();
    }

    protected async Task RemoveCourse()
    {
        //var token = Storage["JWT-Token"];
        //Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        string requestUri = Storage.GetItem("environment_uri") + "/api/course?id=" + Convert.ToInt32(CurrentCourseId);
        await Http.DeleteAsync(requestUri);
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    protected void CloseModal()
    {
        course = new Course();
        CurrentCourseId = 0;
        this.isAdd = false;
        this.isView = false;
        this.isDelete = false;
        StateHasChanged();
    }
}