@page "/summary"
@using ScrumRatingFront.Shared.Models
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.PieChart
@using Newtonsoft.Json
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<div class="row">
    <div class="col-md-6">
        <BSCard CardType="CardType.Card">
            <BSCard Color="Color.Light" IsOutline="true">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Рейтинг студентов</BSCard>
                    <ChartJsPieChart @ref="_doughnutChartJsStudent" Config="@_doughnutChartConfigStudent" Height="250" />
                    <a href="student/list/1" class="btn btn-primary">Перейти &raquo;</a>
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
    <div class="col-md-6">
        <BSCard CardType="CardType.Card">
            <BSCard Color="Color.Light" IsOutline="true">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Рейтинг команд</BSCard>
                    <ChartJsPieChart @ref="_doughnutChartJsTeam" Config="@_doughnutChartConfigTeam" Height="250" />
                    <a href="teams/list/1" class="btn btn-primary">Перейти &raquo;</a>
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
</div>
<hr>
<br>

@code {
    private PieConfig _doughnutChartConfigStudent;
    private ChartJsPieChart _doughnutChartJsStudent;
    private PieConfig _doughnutChartConfigTeam;
    private ChartJsPieChart _doughnutChartJsTeam;
    private PieDataset _studentDataset;
    private PieDataset _teamDataset;
    
    protected List<Student> CurrentStudents = new List<Student>();
    protected List<Lesson> CurrentLessons = new List<Lesson>();
    protected List<Homework> CurrentHomeworks = new List<Homework>();
    protected List<TeamWithoutStudents> CurrentTeams = new List<TeamWithoutStudents>();
    protected List<Student> CurrentTeamStudents = new List<Student>();

    protected Shared.Models.Summary summary;

    protected override async Task OnInitializedAsync(){
        
        _doughnutChartConfigStudent = new PieConfig
        {
            Options = new PieOptions(true)
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Студенты по рейтингу"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        _doughnutChartConfigTeam = new PieConfig
        {
            Options = new PieOptions(true)
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Команды по рейтингу"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        _studentDataset = new PieDataset
        {
            BackgroundColor = new[] { "#1C4E80", "#A5D8DD", "#EA6A47", "#0091D5" },
            BorderWidth = 0,
            HoverBackgroundColor = "#7E909A",
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _teamDataset = new PieDataset
        {
            BackgroundColor = new[] { "#1C4E80", "#A5D8DD", "#EA6A47", "#0091D5", "#7E909A" },
            BorderWidth = 0,
            HoverBackgroundColor = "#7E909A",
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _doughnutChartConfigStudent.Data.Datasets.Add(_studentDataset);
        _doughnutChartConfigTeam.Data.Datasets.Add(_teamDataset);

        summary = new Shared.Models.Summary();
        
        string requestUri = Storage.GetItem("environment_uri") + "/api/student/all";
        var studentString = await Http.GetStringAsync(requestUri);
        CurrentStudents = JsonConvert.DeserializeObject<IList<Student>>(studentString).ToList();
        int[] studentIds = CurrentStudents.Select(x => x.Id).ToArray();
        
        requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
        var lessonString = await Http.GetStringAsync(requestUri);
        CurrentLessons = JsonConvert.DeserializeObject<IList<Lesson>>(lessonString).ToList();
        int[] lessonsIds = CurrentLessons.Select(x => x.Id).ToArray();
        
        requestUri = Storage.GetItem("environment_uri") + "/api/homework";
        var homeworkString = await Http.GetStringAsync(requestUri);
        CurrentHomeworks = JsonConvert.DeserializeObject<IList<Homework>>(homeworkString).ToList();
        int[] homeworksIds = CurrentHomeworks.Select(x => x.Id).ToArray();
        
        requestUri = Storage.GetItem("environment_uri") + "/api/team";
        var teamString = await Http.GetStringAsync(requestUri);
        CurrentTeams = JsonConvert.DeserializeObject<IList<TeamWithoutStudents>>(teamString).ToList();
        int[] teamsIds = CurrentTeams.Select(x => x.Id).ToArray();

        var listTeamDto = new List<TeamDto>();
        foreach (var teamid in teamsIds)
        {
            requestUri = Storage.GetItem("environment_uri") + "/api/team/GetByTeamId?id=" + teamid;
            var teamStudentString = await Http.GetStringAsync(requestUri);
            var CurrentTeamStudentsIds = JsonConvert.DeserializeObject<IList<int>>(teamStudentString).ToList();
            
           // int[] teamsStudentIds = CurrentTeams.Select(x => x.Id).ToArray();
            listTeamDto.Add(new TeamDto()
            {
                Id = teamid,
                Students = CurrentTeamStudentsIds.ToArray(),
            });
        }
        
        var teamListViewModel = new GetSummaryTeamListViewModel()
        {
            TeamList = listTeamDto.ToArray(),
            LessonList = lessonsIds,
            HomeWorkList = homeworksIds,
        };
        
        var summaryStudents = new SummaryStudents()
        {
            StrudentList = studentIds,
            LessonList = lessonsIds,
            HomeWorkList = homeworksIds,
        };
        var studentsRating = await Http.SendJsonAsync<List<SummaryStudentsRating>>(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/rating/GetSummaryStudentList", summaryStudents);
        
        var teamsRating = await Http.SendJsonAsync<List<SummaryTeam>>(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/rating/GetSummaryTeamList", teamListViewModel);
       // var summaryList = JsonConvert.DeserializeObject<IList<Summary>>(studentsByRating).ToList();
        summary.StudentsByRating = studentsRating.ToDictionary(k => CurrentStudents.FirstOrDefault( x => x.Id == k.StudentId).LastName, y => ((double)y.SumRating));
        summary.TeamsByRating = teamsRating.ToDictionary(k => CurrentTeams.FirstOrDefault( x => x.Id == k.TeamId).Name, y => ((double)y.SumRating));
    // summary.StudentsByRating =;
    //await Http.GetJsonAsync<Shared.Models.Summary>(Storage.GetItem("environment_uri") + Urls.getSummary);

        _doughnutChartConfigStudent.Data.Labels.AddRange(summary.StudentsByRating.Keys);
        _doughnutChartConfigTeam.Data.Labels.AddRange(summary.TeamsByRating.Keys);

        _studentDataset.Data.AddRange(summary.StudentsByRating.Values);
        _teamDataset.Data.AddRange(summary.TeamsByRating.Values);
    }
}