@page "/teams/list/{Page}"
@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using Newtonsoft.Json
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Команда успешно обновлена.", "Команда изменена");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "created")
{
    Toaster.Success("Информация успешно добавлена.", "Добавление данных");
    Storage.RemoveItem("Transaction");
}

<h1>Список команд</h1>

<div class="row mb-3">
    <div class="col-md-7">
        @if (isLoggedOn())
        {
            <BSButton Class="btn btn-primary" @onclick="AddTeam">Добавить новую команду</BSButton>
        }
    </div>
</div>

@if (Teams != null)
{
    <BSTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Общий рейтинг</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Teams.Results)
            {
                <tr>
                    <td>@team.Id</td>
                    <td>@team.Name</td>
                    <td>@team.OverallRating</td>
                    <td>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewTeam(team.Id))"></BSButton>
                        @if (isLoggedOn())
                        {
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await UpdateTeam(team.Id))"></BSButton>
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteTeam(team.Id))"></BSButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
    <Pager Result=@Teams PageChanged=PagerPageChanged />
}
else if (_loadFailed)
{
    Toaster.Error("Произошла ошибка загрузки данных..", "Ошибка");
    <p><em>Попробуйте обновить страницу...</em></p>
}
else
{
    <p><em>Загрузка...</em></p>
}

<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-12">
                <EditForm Model="@team" OnValidSubmit="@CreateTeam">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Name" class="control-label">Название команды</label>
                        <InputText id="Name" class="form-control" @bind-Value="team.Name" />
                        <ValidationMessage For="@(() => team.Name)" />
                    </div>
                    <div class="form-group">
                        <label for="OverallRating" class="control-label">Общий рейтинг</label>
                        <InputNumber id="OverallRating" class="form-control" @bind-Value="team.OverallRating" />
                        <ValidationMessage For="@(() => team.OverallRating)" />
                    </div>
                    <div>
                        <label class="control-label">Студенты</label>
                        <BlazoredTypeahead SearchMethod="GetStudents"
                                           @bind-Value="@student"
                                           EnableDropDown="true"
                                           class="form-control"
                                           placeholder="поиск...">
                            <SelectedTemplate Context="student">
                                @student.LastName
                            </SelectedTemplate>
                            <ResultTemplate Context="student">
                                @student.LastName (@student.Firstname)
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                    <hr />
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-success" @onclick="@(()=>OnStudentAdd(team, student))">Добавить студента</a>
                    </div>
                    <div>
                        <BSTable IsResponsive="true" class='table'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Id</th>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Email</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in team.Students)
                                {
                                    <tr>
                                        <td>@student.Id</td>
                                        <td>@student.LastName</td>
                                        <td>@student.Firstname</td>
                                        <td>@student.MiddleName</td>
                                        <td>@student.Email</td>
                                        <td>
                                            @if (isLoggedOn())
                                            {
                                                <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteStudentFromTeam(team, student))"></BSButton>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </BSTable>
                        @*<Pager Result=@Students PageChanged=PagerPageChangedStudents />*@
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Сохранить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

<div>
    <BSModal @bind-IsOpen="isView" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                @if (isDelete)
                {
                    <BSAlert Color="Color.Danger">Вы точно хотите удалить команду?.</BSAlert>
                }
                <BSTable IsResponsive="true" class="table">
                    <tr>
                        <td>Id</td>
                        <td>@team.Id</td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td>@team.Name</td>
                    </tr>
                    <tr>
                        <td>Общий рейтинг</td>
                        <td>@team.OverallRating</td>
                    </tr>
                </BSTable>
                <div class="form-group">
                    @if (isDelete)
                    {
                        <button type="button" class="btn btn-danger" @onclick="@(async() => await RemoveTeam())">Удалить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    }
                    @if (!isDelete)
                    {
                        <button class="btn btn-primary" @onclick="CloseModal">Назад</button>
                    }
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    private int pageSize = 10;
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected PagedResult<Team> Teams;
    protected Team team = new Team();
    protected Student student = new Student();

    protected int CurrentTeamId { get; set; }
    protected string modalTitle { get; set; }
    protected bool isAdd { get; set; }
    protected bool isView { get; set; }
    protected bool isDelete { get; set; }

    private bool _loadFailed;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _loadFailed = false;
            string requestUri;
            string response;
            IList<Team> teams;
            int.TryParse(Page, out int pageNumber);

            requestUri = Storage.GetItem("environment_uri") + "/api/team";
            response = await Http.GetStringAsync(requestUri);
            teams = JsonConvert.DeserializeObject<IList<Team>>(response);

            Teams = new PagedResult<Team>
            {
                CurrentPage = pageNumber,
                PageSize = pageSize,
                PageCount = 1 + teams.Count / pageSize,
                Results = teams.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList(),
            };
        }
        catch (Exception)
        {
            _loadFailed = true;
        }
        await base.OnParametersSetAsync();
    }

    protected bool isLoggedOn()
    {
        return true;
        //return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
    }

    protected void PagerPageChanged(int page)
    {
        Teams.CurrentPage = page;
        Teams.PageSize = pageSize;
        //Teams.PageCount = 1 + teams.Count / pageSize;
        //Teams.Results = teams.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList();

        UriHelper.NavigateTo("/teams/list/" + page);
    }

    protected void PagerPageChangedStudents(int page)
    {
        //Пагинация для студентов команды
    }

    protected void AddTeam()
    {
        this.isAdd = true;
        this.modalTitle = "Создание команды";
    }

    protected async Task LoadTeam(int TeamId)
    {
        team = await Http.GetJsonAsync<Team>(Storage.GetItem("environment_uri") + Urls.getTeamById + Convert.ToInt32(TeamId));
        var studentsId = await Http.GetJsonAsync<IEnumerable<int>>(Storage.GetItem("environment_uri") + Urls.getStudentsByTeamId + Convert.ToInt32(TeamId));
        team.Students = await Http.SendJsonAsync<List<Student>>(HttpMethod.Post, Storage.GetItem("environment_uri") + Urls.getStudentRange, studentsId);
        CurrentTeamId = TeamId;
    }

    protected async Task UpdateTeam(int TeamId)
    {
        await LoadTeam(TeamId);
        this.isAdd = true;
        this.modalTitle = "Редактирование команды";
    }

    protected async Task ViewTeam(int TeamId)
    {
        await LoadTeam(TeamId);
        this.isView = true;
        this.modalTitle = "Просмотр команды";
    }

    protected async Task DeleteTeam(int TeamId)
    {
        team = await Http.GetJsonAsync<Team>(Storage.GetItem("environment_uri") + Urls.getTeamById + Convert.ToInt32(TeamId));
        CurrentTeamId = TeamId;
        this.isView = true;
        this.isDelete = true;
        this.modalTitle = "Удаление команды";
    }

    protected async Task CreateTeam()
    {
        //var token = Storage["JWT-Token"];
        //Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        if (CurrentTeamId == 0)
        {
            int maxId = Teams.Results.Max(t => t.Id);
            team.Id = maxId + 10;
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/team", team);
            Storage.SetItem("Transaction", "created");
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Put, Storage.GetItem("environment_uri") + "/api/team", team);
            Storage.SetItem("Transaction", "modified");
        }
        CloseModal();
        await OnParametersSetAsync();
    }

    protected async Task RemoveTeam()
    {
        //var token = Storage["JWT-Token"];
        //Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        await Http.DeleteAsync(Storage.GetItem("environment_uri") + "/api/team?id=" + Convert.ToInt32(CurrentTeamId));
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    public async Task OnStudentAdd(Team team, Student student)
    {
        if (team.Students.Exists(x => x.Id == student.Id))
        {
            Toaster.Error("Студент уже находится в этой команде.", "Добавление студента в команду");
            return;;
        }
        team.Students.Add(student);
        await Http.PostAsync(Storage.GetItem("environment_uri") + $"/api/team/AddStudent?teamId={team.Id}&studentId={student.Id}", null);
        StateHasChanged();
    }

    public async Task DeleteStudentFromTeam(Team team, Student student)
    {
        await Http.DeleteAsync(Storage.GetItem("environment_uri") + $"/api/team/RemoveStudent?teamId={team.Id}&studentId={student.Id}");
        team.Students.Remove(student);
        StateHasChanged();
    }


    private async Task<IEnumerable<Student>> GetStudents(string serchtxt)
    {
        var result = await Http.GetJsonAsync<List<Student>>(Storage.GetItem("environment_uri") + "/api/student/All");
        return result;
    }

    protected void CloseModal()
    {
        team = new Team();
        CurrentTeamId = 0;
        this.isAdd = false;
        this.isView = false;
        this.isDelete = false;
        StateHasChanged();
    }
}