@page "/user/login"
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster
@using ScrumRatingFront.Shared.Models

@if (Storage.GetItem("Transaction") == "invalid")
{
    Toaster.Error("Неправильное имя и/или пароль. Попробуйте еще раз.", "Неверные данные");
    Storage.RemoveItem("Transaction");
}

<div class="form-signin">
    <div class="text-center">
    </div>
    <EditForm Model="@login" OnValidSubmit="LogonUser">
        <DataAnnotationsValidator />

        <h1 class="h3 mb-3 text-center">Пожалуйста, войдите.</h1>
        <div class="form-group">
            <InputText id="Username" class="form-control" placeholder="Имя" @bind-Value="login.Username" />
            <ValidationMessage For="@(() => login.Username)" />
        </div>
        <div class="form-group">
            <InputText id="Password" class="form-control" type="password" placeholder="Пароль" @bind-Value="login.Password" />
            <ValidationMessage For="@(() => login.Password)" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
        </div>
        <div class="form-group">
           <BSButton Class="btn btn-lg btn-primary btn-block" @onclick="AddUser">Зарегистрироваться</BSButton>  
        </div>
    </EditForm>
</div>

<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                <EditForm Model="@login" OnValidSubmit="@CreateUser">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Username" class="control-label">Имя</label>
                        <InputText id="Username" class="form-control" @bind-Value="login.Username" />
                        <ValidationMessage For="@(() => login.Username)" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Пароль</label>
                        <InputText id="Password" class="form-control" type="password" @bind-Value="login.Password" />
                        <ValidationMessage For="@(() => login.Password)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    Login login = new Login();
    protected bool isAdd { get; set; }
    protected string modalTitle { get; set; }

    protected async Task LogonUser()
    {
        var response = await Http.SendJsonAsync<JwtToken>(HttpMethod.Put,Storage.GetItem("environment_uri") + "/api/authorization", login);
        Storage.SetItem("JWT-Token", response.token);
        Storage.SetItem("JWT-Time-Expire", (DateTime.Now.Ticks + 432000000000).ToString()); // Add 750 minutes to current time

        login.Username = string.Empty;
        login.Password = string.Empty;

        if (response.token == string.Empty)
        {
            Storage.SetItem("Transaction", "invalid");
            UriHelper.NavigateTo("/user/login");
        }
        else
        {
            UriHelper.NavigateTo("/");
        }
    }

    void cancel()
    {
        UriHelper.NavigateTo("/");
    }
    
    protected void AddUser()
    {
       this.isAdd = true;
       this.modalTitle = "Зарегистрироваться";
    }
    protected async Task CreateUser()
        {
            var token = Storage["JWT-Token"];
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/authentication", login);
            CloseModal();
            Storage.SetItem("Transaction", "modified");
            await OnParametersSetAsync();
        }
    protected void CloseModal()
        {
            login = new Login();
            this.isAdd = false;
            StateHasChanged();
        }    
}    