@page "/rating/list/{Page}"
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@using Newtonsoft.Json;
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster


@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Информация успешно обновлена.", "Изменение данных");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "created")
{
    Toaster.Success("Информация успешно добавлена.", "Добавление данных");
    Storage.RemoveItem("Transaction");
}

<h1>Список оценок</h1>

<div class="row mb-3">
    <div class="col-md-7">
        @if (isLoggedOn())
        {
            <BSButton Class="btn btn-primary" @onclick="AddRating">Добавить оценка</BSButton>
        }
    </div>
</div>

@if (Ratings != null)
{
    <BSTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Тип ссылки</th>
                <th>Ссылка</th>
                <th>Студент</th>
                <th>Значение</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @{
                Console.WriteLine("xx=>" + Ratings.Results.Count());
                Console.WriteLine("yyy>" + CurrentLessons.Count());
                var ratingExResult = from rating in Ratings.Results

                                     join lesson in CurrentLessons on rating.LinkId equals lesson.Id into lessonList
                                     from lesson in lessonList.DefaultIfEmpty()

                                     join homeWork in CurrentHomeworks on rating.LinkId equals homeWork.Id into homeWorkList
                                     from homeWork in homeWorkList.DefaultIfEmpty()

                                     join student in CurrentStudents on rating.StudentId equals student.Id into studentList
                                     from student in studentList.DefaultIfEmpty()

                                     select new
                                     { Id = rating.Id,
                                         LinkKindName = rating.LinkKind == 1 ? "За урок" : "За ДЗ",
                                         LinkName = rating.LinkKind == 1 ? (lesson == null ? "(No link lesson)" : lesson.Name) : (homeWork == null ? "(No link homework)" : homeWork.Name),
                                         StudentName = student == null ? "(No link students)" : student.LastName + " " + student.Firstname, Value = rating.Value
                                     };
                Console.WriteLine("zzz>" + ratingExResult.Count());

            }
            @foreach (var rating in ratingExResult.OrderBy(e => e.Id))
            {
            <tr>
                <td>@rating.Id</td>
                <td>@rating.LinkKindName</td>
                <td>@rating.LinkName</td>
                <td>@rating.StudentName</td>
                <td>@rating.Value</td>
                <td>
                    <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewRating(rating.Id))"></BSButton>
                    @if (isLoggedOn())
                    {
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await UpdateRating(rating.Id))"></BSButton>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteRating(rating.Id))"></BSButton>
                    }
                </td>
            </tr>
            }
        </tbody>
    </BSTable>
    <Pager Result=@Ratings PageChanged=PagerPageChanged />
                }
                else if (_loadFailed)
                {
                    Toaster.Error("Произошла ошибка загрузки данных..", "Ошибка");
    <p><em>Попробуйте обновить страницу...</em></p>
}
else
{
    <p><em>Загрузка...</em></p>
}

<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                <EditForm Model="@rating" OnValidSubmit="@CreateRating">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label for="LinkKind" class="control-label">Тип оценки</label>
                        <select id="LinkKind" class="form-control" @bind="rating.LinkKind">
                            <option value="">Выбрать ...</option>
                            <option value="1">За урок</option>
                            <option value="2">За дз</option>
                        </select>
                    </div>
                    @if (rating.LinkKind == 1)
                    {
                        <div class="form-group">
                            <label for="LinkId" class="control-label">Наименование урока</label>
                            <select id="LinkId" class="form-control" @bind="rating.LinkId">
                                <option value="">Выбрать ...</option>
                                @foreach (var linkItem in CurrentLessons)
                                {
                                    <option value="@linkItem.Id">@linkItem.Name</option>
                                }
                            </select>
                        </div>
                    }
                    @if (rating.LinkKind == 2)
                    {
                        <div class="form-group">
                            <label for="LinkId" class="control-label">Наименование ДЗ</label>
                            <select id="LinkId" class="form-control" @bind="rating.LinkId">
                                <option value="">Выбрать ...</option>
                                @foreach (var linkItem in CurrentHomeworks)
                                {
                                    <option value="@linkItem.Id">@linkItem.Name</option>
                                }
                            </select>
                        </div>
                    }

                    <div class="form-group">
                        <label for="StudentId" class="control-label">Студент</label>
                        <select id="StudentId" class="form-control" @bind="rating.StudentId">
                            <option value="">Выбрать ...</option>
                            @foreach (var student in CurrentStudents)
                            {
                                <option value="@student.Id">@student.LastName @student.Firstname</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Value" class="control-label">Значение</label>
                        <InputNumber id="Value" class="form-control" @bind-Value="rating.Value" />
                        <ValidationMessage For="@(() => rating.Value)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

<div>
    <BSModal @bind-IsOpen="isView" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                @if (isDelete)
                {
                    <BSAlert Color="Color.Danger">Вы точно хотите удалить оценка?</BSAlert>
                }
            <BSTable IsResponsive="true" class="table">
                <tr>
                    <td>Id</td>
                    <td>@rating.Id</td>
                </tr>
                <tr>
                    <td>Тип ссылки</td>
                    @if (rating.LinkKind == 1)
                    {
                        <td>За урок</td>
                    }
                    else
                    {
                        <td>За ДЗ</td>
                    }

                </tr>
               
                <tr>
                    <td>Наименование</td>
                    @if (rating.LinkKind == 2)
                    {
                        <td>@CurrentHomeworks.FirstOrDefault(x => x.Id == rating.LinkId)?.Name</td>
                    }

                    @if (rating.LinkKind == 1)
                    {
                        <td>@CurrentLessons.FirstOrDefault(x => x.Id == rating.LinkId)?.Name</td>
                    }


                </tr>
                <tr>
                    <td>Студент</td>
                    <td>@CurrentStudents.FirstOrDefault(x=>x.Id == rating.StudentId)?.LastName</td>
                </tr>

                <tr>
                    <td>Значение</td>
                    <td>@rating.Value.ToString()</td>
                </tr>
            </BSTable>
                <div class="form-group">
                    @if (isDelete)
                    {
                        <button type="button" class="btn btn-danger" @onclick="@(async () => await RemoveRating())">Удалить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    }
                    @if (!isDelete)
                    {
                        <button class="btn btn-primary" @onclick="CloseModal">Назад</button>
                    }
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    private int pageSize = 10;

    protected PagedResult<Rating> Ratings;
    protected Rating rating = new Rating() { LinkKind=1};
    protected List<Lesson> CurrentLessons = new List<Lesson>();
    protected List<Homework> CurrentHomeworks = new List<Homework>();
    protected List<Student> CurrentStudents = new List<Student>();
    protected List<LinkList> CurrentLinkList = new List<LinkList>();



    protected int CurrentRatingId { get; set; }
    protected string modalTitle { get; set; }
    protected bool isAdd { get; set; }
    protected bool isView { get; set; }
    protected bool isDelete { get; set; }

    private bool _loadFailed;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        try
        {
            _loadFailed = false;
            int.TryParse(Page, out int pageNumber);
            string requestUri = Storage.GetItem("environment_uri") + "/api/rating";
            var ratingString = await Http.GetStringAsync(requestUri);
            var ratingList = JsonConvert.DeserializeObject<IList<Rating>>(ratingString);

            Ratings = new PagedResult<Rating>
            {
                CurrentPage = pageNumber,
                PageSize = pageSize,
                PageCount = 1 + ratingList.Count / pageSize,
                Results = ratingList.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList(),
            };

            requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
            //requestUri = "http://165.22.26.131" + "/api/lesson";
            var lessonString = await Http.GetStringAsync(requestUri);
            CurrentLessons = JsonConvert.DeserializeObject<IList<Lesson>>(lessonString).ToList();

            requestUri = Storage.GetItem("environment_uri") + "/api/homework";
            //requestUri = "http://165.22.26.131" + "/api/homework";
            var homeworkString = await Http.GetStringAsync(requestUri);
            CurrentHomeworks = JsonConvert.DeserializeObject<IList<Homework>>(homeworkString).ToList();


            requestUri = Storage.GetItem("environment_uri") + "/api/student/all";
            //requestUri = "http://165.22.26.131" + "/api/student/all";
            var studentString = await Http.GetStringAsync(requestUri);
            CurrentStudents = JsonConvert.DeserializeObject<IList<Student>>(studentString).ToList();
        }
        catch (Exception ex)
        {
            _loadFailed = true;
            Console.WriteLine("OnParametersSetAsync :error = " + ex.Message);
        }
    }

    protected bool isLoggedOn()
    {
        //return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
        Console.WriteLine("isLoggedOn");
        return true;
    }

    protected void PagerPageChanged(int page)
    {
        Ratings.CurrentPage = page;
        Ratings.PageSize = pageSize;

        UriHelper.NavigateTo("/rating/list/" + page);
    }

    protected void AddRating()
    {
        this.isAdd = true;
        this.modalTitle = "Добавление оценки";
    }

    protected async Task UpdateRating(int ratingId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/rating/GetById?id=" + Convert.ToInt32(ratingId);
        rating = await Http.GetJsonAsync<Rating>(requestUri);
        CurrentRatingId = ratingId;
        this.isAdd = true;
        this.modalTitle = "Редактирование оценки";
    }

    protected async Task ViewRating(int ratingId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/rating/GetById?id=" + Convert.ToInt32(ratingId);
        rating = await Http.GetJsonAsync<Rating>(requestUri);
        CurrentRatingId = ratingId;
        this.isView = true;
        this.modalTitle = "Просмотр оценки";
    }

    protected async Task DeleteRating(int ratingId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/rating/GetById?id=" + Convert.ToInt32(ratingId);
        rating = await Http.GetJsonAsync<Rating>(requestUri);
        CurrentRatingId = ratingId;
        this.isView = true;
        this.isDelete = true;
        this.modalTitle = "Удаление оценки";
    }

    protected async Task CreateRating()
    {
        // var token = Storage["JWT-Token"];
        // Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        if (CurrentRatingId == 0)
        {
            int maxId = Ratings.Results.Max(t => t.Id) + 1;
            rating.Id = maxId;
            Console.WriteLine("stu " + rating.Id);
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/rating", rating);
            Storage.SetItem("Transaction", "created");
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Patch, Storage.GetItem("environment_uri") + "/api/rating", rating);
            Storage.SetItem("Transaction", "modified");
        }
        CloseModal();
        await OnParametersSetAsync();
    }

    protected async Task RemoveRating()
    {
        //var token = Storage["JWT-Token"];
        //Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        string requestUri = Storage.GetItem("environment_uri") + "/api/rating?id=" + Convert.ToInt32(CurrentRatingId);
        await Http.DeleteAsync(requestUri);
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    protected void CloseModal()
    {
        rating = new Rating(){ LinkKind=1};
        CurrentRatingId = 0;
        this.isAdd = false;
        this.isView = false;
        this.isDelete = false;
        StateHasChanged();
    }
    public void LinkKindChange(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "1")
            CurrentLinkList = CurrentLessons.Select(x => new LinkList { Id = x.Id, Name = x.Name }).ToList();
        else
            CurrentLinkList = CurrentHomeworks.Select(x => new LinkList { Id = x.Id, Name = x.Name }).ToList();
    }



    public class LinkList
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
}