﻿@page "/"
@inject LocalStorage Storage
@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject HttpClient Http
@using System.Collections
@using Bogus.Extensions
@using Newtonsoft.Json
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

@if (Storage.GetItem("Transaction") == "logout")
{
    Toaster.Info("Вы успешно вышли из системы.", "Logged Out");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Оценка успешно обновлена.", "Оценка изменена");
    Storage.RemoveItem("Transaction");
}
<div class="container">

    <div class="row" style="height:10px;">
        <div class="col-md-11"></div>
    </div>
    @if (Courses != null)
    {
        <SurveyPrompt Title="Добро пожаловать в систему учета оценок скрам команд,
                 выберите курс." />
        <BSTable IsResponsive="true" class='table'>
            <thead class="thead-light">
                <tr>
                    <th>Наименование</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Courses.Results.OrderBy(e => e.Id))
                {
                    <tr>
                        <td>@element.Name</td>
                        <td>@element.StartDate.ToString("dd.MM.yyyy")</td>
                        <td>@element.FinishDate.ToString("dd.MM.yyyy")</td>
                        <td>
                            <BSButton Class="btn btn-primary" @onclick="@(() => GoToMenu(course.Id))">Перейти</BSButton>
                        </td>
                    </tr>
                }
            </tbody>
        </BSTable>
    }
    @if (Lessons != null)
    {
        <BSTable IsResponsive="true" class='table'>
            <thead class="thead-light">
                <tr>
                    <th>Тема</th>
                    <th>Дата начала</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Lessons.Results.OrderBy(e => e.Id))
                {
                    <tr>
                        <td>@element.Name</td>
                        <td>@element.DateLesson.ToString("dd MMMM yyyy HH:mm")</td>
                        <td>
                            <BSButton Class="btn btn-primary" @onclick="@(() => GoToOneLesson(element.Id))">Перейти</BSButton>
                        </td>
                    </tr>
                }
            </tbody>
        </BSTable>
        <div>
            <BSButton Class="btn btn-primary" @onclick="@(() => GoToMenu(course.Id))">В меню </BSButton>
        </div>
    }
    @if (Students != null)
    {
        <BSTable IsResponsive="true" class='table'>
            <thead class="thead-light">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Students.Results.OrderBy(e => e.Id))
                {
                    <tr>
                        <td>@element.LastName</td>
                        <td>@element.Firstname</td>
                        <td>@element.MiddleName</td>
                        <td>@element.Email</td>
                    </tr>
                }
            </tbody>
        </BSTable>
        <div>
            <BSButton Class="btn btn-primary" @onclick="@(() => GoToMenu(course.Id))">В меню </BSButton>
        </div>
    }
    @if (Teams != null)
    {
        <BSTable IsResponsive="true" class='table'>
            <thead class="thead-light">
                <tr>
                    <th>Название</th>
                    <th>Общий рейтинг</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Teams.Results.OrderBy(e => e.Id))
                {
                    <tr>
                        <td>@element.Name</td>
                        <td>@element.OverallRating</td>
                    </tr>
                }
            </tbody>
        </BSTable>
        <div>
            <BSButton Class="btn btn-primary" @onclick="@(() => GoToMenu(course.Id))">В меню </BSButton>
        </div>
    }
    @if (OneLesson)
    {
        <div class="float-right">
            <BSButton Class="btn btn-primary" @onclick="@(() => GoToLessons(course.Id))">Назад</BSButton>
        </div>
        <div>
            <h1>Урок #@this.lesson.Id</h1>
        </div>
        <div class="form-group row">
            <label for="topic" class="col-sm-2 col-form-label">Тема</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="topic" @bind="this.lesson.Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="startDateTime" class="col-sm-2 col-form-label">Дата начала</label>
            <div class="col-sm-3">
                <input type="datetime" class="form-control" id="startDateTime" @bind="this.lesson.DateLesson" @bind:format="dd-MM-yyyy HH:mm" placeholder="01-01-2020 10:00">
            </div>
        </div>
        @if (StudentsLesson != null)
        {


            @if (Ratings.Results != null)
            {
                <BSTable IsResponsive="true" class='table'>
                    <thead class="thead-light">
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Оценка за урок</th>
                            <th>Оценка за дз</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                        @{
                            var ratings = Ratings.Results.Where(x => x.LinkId == this.lesson.Id);

                            var studentsWithRatingResult = from student in StudentsLesson.Results
                                                           join rating in ratings
                                                               on student.Id equals rating.StudentId into list
                                                           from ratingStudent in list.DefaultIfEmpty()
                                                           select new StudentsWithRatingResult()
                                                           {
                                                               Id = student.Id,
                                                               LastName = student.LastName,
                                                               Firstname = student.Firstname,
                                                               Email = student.Email,
                                                               LessonValue = ratingStudent?.LinkKind == 2 ? ratingStudent.Value : 0,
                                                               HomeWorkValue = ratingStudent?.LinkKind == 1 ? ratingStudent.Value : 0,
                                                               LinkId = ratingStudent?.LinkId ?? this.lesson.Id,
                                                               RatingId = ratingStudent?.Id ?? 0,
                                                           };
                        }
                        @foreach (var element in studentsWithRatingResult.OrderBy(e => e.Id))
                        {
                            <tr>
                                <td>@element.LastName</td>
                                <td>@element.Firstname</td>
                                <td>@element.Email</td>
                                <td>@element.LessonValue</td>
                                <td>@element.HomeWorkValue</td>
                                <td>
                                    <BSButton Class="btn btn-primary" @onclick="@(() => SetLessonRating(element.Id, element.RatingId, (int)RatingKind.lesson, element.LinkId))">Поставить оценку за урок</BSButton>
                                </td>
                                <td>
                                    <BSButton Class="btn btn-primary" @onclick="@(() => SetHomeWorkRating(element.Id, element.RatingId, (int)RatingKind.homework, element.LinkId))">Поставить оценку за дз </BSButton>
                                </td>
                            </tr>

                        }
                    </tbody>
                </BSTable>
            }
            else
            {
                <BSTable IsResponsive="true" class='table'>
                    <thead class="thead-light">
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Оценка</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var element in StudentsLesson.Results)
                        {
                            <tr>
                                <td>@element.LastName</td>
                                <td>@element.Firstname</td>
                                <td>@element.Email</td>
                                <td>0</td>
                                <td>
                                    <BSButton Class="btn btn-primary" @onclick="@(() => SetLessonRating(element.Id, 0, (int)RatingKind.lesson, 0))">Поставить оценку за урок</BSButton>
                                </td>
                                <td>
                                    <BSButton Class="btn btn-primary" @onclick="@(() => SetHomeWorkRating(element.Id, 0, (int)RatingKind.homework, 0))">Поставить оценку за дз </BSButton>
                                </td>
                            </tr>

                        }
                    </tbody>
                </BSTable>
            }
        }
    }
    @if (Menu)
    {
        <div class="container">
            <div class="row">
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://assets.imgix.net/case-study/unsplash/unsplash03.jpg?auto=format&fm=pjpg&q=70&fit=crop&crop=top,left&w=926&h=926&ixlib=imgixjs-3.4.1" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Уроки</h5>
                            <p class="card-text">Просмотр уроков и добавление оценок студентам.</p>
                            <a><BSButton Class="btn btn-primary" @onclick="@(() => GoToLessons(course.Id))">Перейти</BSButton> </a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://assets.imgix.net/case-study/unsplash/unsplash01.jpg?auto=format&fm=pjpg&q=70&fit=crop&crop=top,left&w=926&h=926&ixlib=imgixjs-3.4.1" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Студенты</h5>
                            <p class="card-text">Просмотр списка всех студентов на данном курсе.</p>
                            <a><BSButton Class="btn btn-primary" @onclick="@(() => GoToStudents(course.Id))">Перейти</BSButton> </a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://assets.imgix.net/case-study/unsplash/unsplash02.jpg?auto=format&fm=pjpg&q=70&fit=crop&crop=top,left&w=926&h=926&ixlib=imgixjs-3.4.1" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Команды</h5>
                            <p class="card-text">Просмотр списка всех команд на данном курсе.</p>
                            <a><BSButton Class="btn btn-primary" @onclick="@(() => GoToTeams(course.Id))">Перейти</BSButton>  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-10">
            <BSButton Class="btn btn-primary btn-lg" @onclick="@(() => GoToBack())">Назад</BSButton>
        </div>
    }
</div>
<div>
    <BSModal @bind-IsOpen="@isRatingAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="@(async () => await CloseModalAsync())">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                <EditForm Model="@rating" OnValidSubmit="@SetStudentRating">
                    <DataAnnotationsValidator />
                    @if (CurrentKind == (int)RatingKind.lesson)
                    {
                        <div class="form-group">
                            <label for="Value" class="control-label">Оценка за урок</label>
                            <InputNumber id="Value" class="form-control" @bind-Value="rating.Value" />
                            <ValidationMessage For="@(() => rating.Value)" />
                        </div>
                    }
                    @if (CurrentKind == (int)RatingKind.homework)
                    {
                        <div class="form-group">
                            <label for="Value" class="control-label">Оценка за дз</label>
                            <InputNumber id="Value" class="form-control" @bind-Value="rating.Value" />
                            <ValidationMessage For="@(() => rating.Value)" />
                        </div>
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button class="btn btn-primary" @onclick="@(async () => await CloseModalAsync())">Отмена</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>
@code {

    enum RatingKind
    {
        lesson = 2,
        homework = 1
    }

    [Parameter]
    public bool Menu { get; set; } = false;

    [Parameter]
    public bool OneLesson { get; set; } = false;
    protected PagedResult<Shared.Models.Course> Courses;
    protected Shared.Models.Course course = new Shared.Models.Course();
    protected PagedResult<Shared.Models.Lesson> Lessons;
    protected Shared.Models.Lesson lesson = new Shared.Models.Lesson();
    protected PagedResult<Shared.Models.Student> Students;
    protected Shared.Models.Student student = new Shared.Models.Student();
    protected PagedResult<Shared.Models.Student> StudentsLesson;
    protected Shared.Models.Student studentlesson = new Shared.Models.Student();
    protected PagedResult<Shared.Models.Team> Teams;
    protected Shared.Models.Team teams = new Shared.Models.Team();
    protected PagedResult<Shared.Models.Rating> Ratings;
    protected Shared.Models.Rating rating = new Shared.Models.Rating();
    protected bool isRatingAdd { get; set; }
    protected string modalTitle { get; set; }
    protected int CurrentRatingId { get; set; }
    protected int CurrentStudentId { get; set; }
    protected int CurrentKind { get; set; }
    protected int CurrentLinkId { get; set; }
    protected int CurrentLessonId { get; set; }
    string requestUri;
    string response;

    protected override async Task OnParametersSetAsync()
    {
        IList<Shared.Models.Course> courses;
        requestUri = Storage.GetItem("environment_uri") + "/api/course";
        response = await Http.GetStringAsync(requestUri);
        courses = JsonConvert.DeserializeObject<IList<Shared.Models.Course>>(response);

        Courses = new PagedResult<Shared.Models.Course>
        {
            PageSize = 10,
            PageCount = 1 + courses.Count / 10,
            Results = courses.Skip((1 - 1) * 10).Take(10).ToList(),
        };
        Lessons = null;
    }

    private async Task GoToLessons(int courseid)
    {
        string requestUri;
        string response;
        IList<Shared.Models.Lesson> lessons;

        requestUri = Storage.GetItem("environment_uri") + "/api/lesson";
        response = await Http.GetStringAsync(requestUri);
        lessons = JsonConvert.DeserializeObject<IList<Shared.Models.Lesson>>(response);

        Lessons = new PagedResult<Shared.Models.Lesson>
        {
            PageSize = 50,
            PageCount = 1 + lessons.Count / 50,
            Results = lessons.Skip((1 - 1) * 50).Take(50).ToList(),
        };
        Menu = false;
        Courses = null;
        OneLesson = false;
    }

    private async Task GoToStudents(int courseid)
    {
        string requestUri;
        string response;
        IList<Shared.Models.Student> students;

        requestUri = Storage.GetItem("environment_uri") + "/api/student/All";
        response = await Http.GetStringAsync(requestUri);
        students = JsonConvert.DeserializeObject<IList<Shared.Models.Student>>(response);

        Students = new PagedResult<Shared.Models.Student>
        {
            PageSize = 50,
            PageCount = 1 + students.Count / 50,
            Results = students.Skip((1 - 1) * 50).Take(50).ToList(),
        };
        Menu = false;
        Courses = null;
    }
    private async Task GoToTeams(int courseid)
    {
        string requestUri;
        string response;
        IList<Shared.Models.Team> teams;

        requestUri = Storage.GetItem("environment_uri") + "/api/team";
        response = await Http.GetStringAsync(requestUri);
        teams = JsonConvert.DeserializeObject<IList<Shared.Models.Team>>(response);

        Teams = new PagedResult<Shared.Models.Team>
        {
            PageSize = 10,
            PageCount = 1 + teams.Count / 10,
            Results = teams.Skip((1 - 1) * 10).Take(10).ToList(),
        };
        Menu = false;
        Courses = null;
    }
    private async Task GoToOneLesson(int lessonid)
    {
        this.CurrentLessonId = lessonid;
        Menu = false;
        Courses = null;
        Lessons = null;
        OneLesson = true;
        string requestUri = Storage.GetItem("environment_uri") + "/api/lesson/GetById?id=" + lessonid;
        lesson = await Http.GetJsonAsync<Shared.Models.Lesson>(requestUri);

        string requestUriStudent;
        string responseStudent;
        IList<Shared.Models.Student> studentslesson;

        requestUriStudent = Storage.GetItem("environment_uri") + "/api/student/All";
        responseStudent = await Http.GetStringAsync(requestUriStudent);
        studentslesson = JsonConvert.DeserializeObject<IList<Shared.Models.Student>>(responseStudent);

        StudentsLesson = new PagedResult<Shared.Models.Student>
        {
            PageSize = 50,
            PageCount = 1 + studentslesson.Count / 50,
            Results = studentslesson.Skip((1 - 1) * 50).Take(50).ToList(),
        };

        string requestUriRating;
        string responseRating;
        IList<Shared.Models.Rating> studentsrating;

        requestUriRating = Storage.GetItem("environment_uri") + "/api/rating";
        responseRating = await Http.GetStringAsync(requestUriRating);
        studentsrating = JsonConvert.DeserializeObject<IList<Shared.Models.Rating>>(responseRating);

        Ratings = new PagedResult<Shared.Models.Rating>
        {
            PageSize = 50,
            PageCount = 1 + studentsrating.Count / 50,
            Results = studentsrating.Skip((1 - 1) * 50).Take((50)).ToList(),
        };
    }

    private async Task SetStudentRating()
    {
        rating.Id = CurrentRatingId;
        rating.StudentId = CurrentStudentId;
        rating.LinkKind = CurrentKind;
        rating.LinkId = CurrentLinkId;

        if (CurrentRatingId == 0)
        {
            //int maxId = Ratings.Results.Max(t => t.Id) + 1;
            // rating.Id = maxId;
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/rating", rating);
            Storage.SetItem("Transaction", "created");
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Patch, Storage.GetItem("environment_uri") + "/api/rating", rating);
            Storage.SetItem("Transaction", "modified");
        }
        await CloseModalAsync();
    }

    private async Task GoToBack()
    {
        this.UriHelper.NavigateTo("/");
        Lessons = null;
        Menu = false;
        await OnParametersSetAsync();
    }

    private async Task GoToMenu(int courseid)
    {
        Menu = true;
        Courses = null;
        Lessons = null;
        Teams = null;
        Students = null;
    }
    protected void SetLessonRating(int studentid, int ratingid, int kind, int linkId)
    {
        CurrentLinkId = linkId;
        CurrentKind = kind;
        CurrentStudentId = studentid;
        CurrentRatingId = ratingid;

        this.isRatingAdd = true;
        this.modalTitle = "Поставить оценку за урок";
    }
    protected void SetHomeWorkRating(int studentid, int ratingid, int kind, int linkId)
    {
        CurrentLinkId = linkId;
        CurrentKind = kind;
        CurrentStudentId = studentid;
        CurrentRatingId = ratingid;

        this.isRatingAdd = true;
        this.modalTitle = "Поставить оценку за дз";
    }
    protected async Task CloseModalAsync()
    {
        rating = new Shared.Models.Rating();
        CurrentRatingId = 0;
        this.isRatingAdd = false;
        // StateHasChanged();
        await GoToOneLesson(this.CurrentLessonId);
    }
}