﻿@inherits LayoutComponentBase
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<ToastContainer />

<div>
    <NavMenu />
</div>

<div class="container">
    @Body
</div>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">&copy; ScrumRating 2020</span>
    </div>
</footer>

@code {

    protected override void OnInitialized()
    {
        Storage.SetItem("environment_uri", "http://165.22.26.131");
       /* Storage.SetItem("environment_uri", String.Empty);
        if (UriHelper.BaseUri == "http://localhost:5000/")
        {
            //Storage.SetItem("environment_uri", "https://localhost:44377/api");
            Storage.SetItem("environment_uri", "http://localhost:555");
        }
        else
        {
            // api uri
            Storage.SetItem("environment_uri", "127.0.0.1");
        }*/
    }

}

