﻿@inject LocalStorage Storage

<BSNavbar IsExpand="true" IsDark="true" Color="Color.Dark" IsFixedTop="true">
    <BSNavbarBrand Href="#">ScrumRating</BSNavbarBrand>
    <BSNavbarToggler @onclick="openNav" />
    <BSCollapse IsOpen="@IsOpen" IsNavbar="true">
        <BSNav IsList="true" Class="mr-auto" IsNavbar="true">
            <BSNavItem>
                <BSNavLink href="/" @onclick="closeNav">Главная</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="/course/list/1" @onclick="closeNav">Курсы</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="/summary" @onclick="closeNav">Сводки</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="student/list/1" @onclick="closeNav">Студенты</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="/teams/list/1" @onclick="closeNav">Команды</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="/lessons/list/1" @onclick="closeNav">Уроки и домашние задания</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="/rating/list/1" @onclick="closeNav">Оценки</BSNavLink>
            </BSNavItem>
        </BSNav>
        <BSNav IsList="true" Alignment="Alignment.Right" IsNavbar="true">
            @if (isLoggedOn())
            {
                <BSNavItem>
                    <BSNavLink href="/user/logout" @onclick="closeNav">
                        Выйти
                        <span class="oi oi-lock-unlocked" title="lock unlocked" aria-hidden="true"></span>
                    </BSNavLink>
                </BSNavItem>
            }
            else
            {
                <BSNavItem>
                    <BSNavLink href="/user/login" @onclick="closeNav">
                        Войти
                        <span class="oi oi-lock-locked" title="lock locked" aria-hidden="true"></span>
                    </BSNavLink>
                </BSNavItem>
            }
        </BSNav>
    </BSCollapse>
</BSNavbar>

@code {
    private bool IsOpen { get; set; } = false;

    void openNav(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    void closeNav(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    protected bool isLoggedOn()
    {
        return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
    }
}