@page "/student/list/{Page}"
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@using Newtonsoft.Json;
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster


@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Информация успешно обновлена.", "Изменение данных");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "created")
{
    Toaster.Success("Информация успешно добавлена.", "Добавление данных");
    Storage.RemoveItem("Transaction");
}

<h1>Список студентов</h1>

<div class="row mb-3">
    <div class="col-md-7">
        @if (isLoggedOn())
        {
            <BSButton Class="btn btn-primary" @onclick="AddStudent">Добавить нового студента</BSButton>
        }
    </div>
</div>

@if (Students != null)
{
    <BSTable IsResponsive="true" class='table'>
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Students.Results)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.LastName</td>
                    <td>@student.Firstname</td>
                    <td>@student.MiddleName</td>
                    <td>@student.Email</td>
                    <td>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewStudent(student.Id))"></BSButton>
                        @if (isLoggedOn())
                        {
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await UpdateStudent(student.Id))"></BSButton>
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteStudent(student.Id))"></BSButton>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
    <Pager Result=@Students PageChanged=PagerPageChanged />
}
else if (_loadFailed)
{
    Toaster.Error("Произошла ошибка загрузки данных..", "Ошибка");
    <p><em>Попробуйте обновить страницу...</em></p>
}
else
{
    <p><em>Загрузка...</em></p>
}

<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                <EditForm Model="@student" OnValidSubmit="@CreateStudent">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Name" class="control-label">Фамилия</label>
                        <InputText id="Name" class="form-control" @bind-Value="student.LastName" />
                        <ValidationMessage For="@(() => student.LastName)" />
                    </div>
                    <div class="form-group">
                        <label for="Name" class="control-label">Имя</label>
                        <InputText id="Name" class="form-control" @bind-Value="student.Firstname" />
                        <ValidationMessage For="@(() => student.Firstname)" />
                    </div>
                    <div class="form-group">
                        <label for="Name" class="control-label">Отчество</label>
                        <InputText id="Name" class="form-control" @bind-Value="student.MiddleName" />
                        <ValidationMessage For="@(() => student.MiddleName)" />
                    </div>
                     <div class="form-group">
                        <label for="Email" class="control-label">Email</label>
                        <InputText id="Email" class="form-control" @bind-Value="student.Email" />
                        <ValidationMessage For="@(() => student.Email)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

<div>
    <BSModal @bind-IsOpen="isView" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-9">
                @if (isDelete)
                {
                    <BSAlert Color="Color.Danger">Вы точно хотите удалить студента?.</BSAlert>
                }
                <BSTable IsResponsive="true" class="table">
                    <tr>
                        <td>Id</td>
                        <td>@student.Id</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>@student.MiddleName</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>@student.Firstname</td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td>@student.LastName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@student.Email</td>
                    </tr>
                </BSTable>
                <div class="form-group">
                    @if (isDelete)
                    {
                        <button type="button" class="btn btn-danger" @onclick="@(async() => await RemoveStudent())">Удалить</button>
                        <button class="btn btn-primary" @onclick="CloseModal">Отмена</button>
                    }
                    @if (!isDelete)
                    {
                        <button class="btn btn-primary" @onclick="CloseModal">Назад</button>
                    }
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    private int pageSize = 10;

    protected PagedResult<Student> Students;
    protected Student student = new Student();

    protected int CurrentStudentId { get; set; }
    protected string modalTitle { get; set; }
    protected bool isAdd { get; set; }
    protected bool isView { get; set; }
    protected bool isDelete { get; set; }

    private bool _loadFailed;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        try
        {
            _loadFailed = false;
            int.TryParse(Page, out int pageNumber);
            string requestUri = Storage.GetItem("environment_uri") + "/api/student/All";
            var studentsString = await Http.GetStringAsync(requestUri);
            var studentsList = JsonConvert.DeserializeObject<IList<Student>>(studentsString);

            Students = new PagedResult<Student>
            {
                CurrentPage = pageNumber,
                PageSize = pageSize,
                PageCount = 1 + studentsList.Count / pageSize,
                Results = studentsList.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList(),
            };
        }
        catch (Exception ex)
        {
            _loadFailed = true;
            Console.WriteLine("OnParametersSetAsync :error = "+ex.Message);
        }
    }

    protected bool isLoggedOn()
    {
        //return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
        Console.WriteLine("isLoggedOn");
        return true;
    }

    protected void PagerPageChanged(int page)
    {
        Students.CurrentPage = page;
        Students.PageSize = pageSize;
        
        UriHelper.NavigateTo("/student/list/" + page);
    }

    protected void AddStudent()
    {
        this.isAdd = true;
        this.modalTitle = "Создание студента";
    }

    protected async Task UpdateStudent(int studentId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/student/One/ById?id=" + Convert.ToInt32(studentId);
        student = await Http.GetJsonAsync<Student>(requestUri);
        CurrentStudentId = studentId;
        this.isAdd = true;
        this.modalTitle = "Редактирование студента";
    }

    protected async Task ViewStudent(int studentId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/student/One/ById?id=" + Convert.ToInt32(studentId);
        student = await Http.GetJsonAsync<Student>(requestUri);
        CurrentStudentId = studentId;
        this.isView = true;
        this.modalTitle = "Просмотр студента";
    }

    protected async Task DeleteStudent(int studentId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/student/One/ById?id=" + Convert.ToInt32(studentId);
        student = await Http.GetJsonAsync<Student>(requestUri);
        CurrentStudentId = studentId;
        this.isView = true;
        this.isDelete = true;
        this.modalTitle = "Удаление студента";
    }

    protected async Task CreateStudent()
    {
        // var token = Storage["JWT-Token"];
        // Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        if (CurrentStudentId == 0)
        {
            int maxId = Students.Results.Max(t => t.Id) + 1;
            student.Id = maxId;
            Console.WriteLine("stu " + student.Id);
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/student/Create", student);
            Storage.SetItem("Transaction", "created");
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Patch, Storage.GetItem("environment_uri") + "/api/student", student);
            Storage.SetItem("Transaction", "modified");
        }
        CloseModal();
        await OnParametersSetAsync();
    }

    protected async Task RemoveStudent()
    {
        //var token = Storage["JWT-Token"];
        //Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        string requestUri = Storage.GetItem("environment_uri") + "/api/student?id=" + Convert.ToInt32(CurrentStudentId);
        await Http.DeleteAsync(requestUri);
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }

    protected void CloseModal()
    {
        student = new Student();
        CurrentStudentId = 0;
        this.isAdd = false;
        this.isView = false;
        this.isDelete = false;
        StateHasChanged();
    }
}