﻿@page "/homeworks/list"
@using ScrumRatingFront.Shared.Data
@using ScrumRatingFront.Shared.Models
@using Newtonsoft.Json;
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Sotsera.Blazor.Toaster.IToaster Toaster

@if (Storage.GetItem("Transaction") == "modified")
{
    Toaster.Success("Информация успешно обновлена.", "Изменение данных");
    Storage.RemoveItem("Transaction");
}
@if (Storage.GetItem("Transaction") == "created")
{
    Toaster.Success("Информация успешно добавлена.", "Добавление данных");
    Storage.RemoveItem("Transaction");
}

@if (Homeworks != null)
{
    <form>
        <div class="row mb-3">
            <div class="col-md-12">
                @if (isLoggedOn())
                {
                    <div class="float-right">
                        <BSButton Class="btn btn-primary" @onclick="AddHomework">Добавить домашнее задание</BSButton>
                    </div>
                }
            </div>
        </div>

        <BSTable IsResponsive="true" class='table'>
            <thead class="thead-light">
                <tr>
                    <th>Тема</th>
                    <th>Сдать до</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Homeworks.Results.OrderBy(e => e.DeadLine))
                {
                    <tr>
                        <td>@element.Name</td>
                        <td>@element.DeadLine.ToString("dd MMMM yyyy")</td>
                        <td>
                            <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewHomeworkAsync(element.Id))"></BSButton>
                            @if (isLoggedOn())
                            {
                                <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await UpdateHomeworkAsync(element.Id))"></BSButton>
                                <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteHomeworkAsync(element.Id))"></BSButton>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </BSTable>
    </form>
}
else if (_loadFailed)
{
    Toaster.Error("Произошла ошибка загрузки данных...", "Ошибка");
    <p><em>Попробуйте обновить страницу...</em></p>
}
else
{
    <p><em>Загрузка...</em></p>
}

@*Создание домашнего задания*@
<div>
    <BSModal @bind-IsOpen="@isAdd" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-12">
                <EditForm Model="@homework" OnValidSubmit="@(async () => await AddHomeworkAsync())">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Name" class="control-label">Тема</label>
                        <InputText id="Name" class="form-control" @bind-Value="homework.Name" />
                        <ValidationMessage For="@(() => homework.Name)" />
                    </div>
                    <div class="form-group">
                        <label for="Name" class="control-label">Сдать до</label>
                        <InputDate id="Name" class="form-control" @bind-Value="homework.DeadLine" @bind-Value:format="dd MMMM yyyy"/>
                        <ValidationMessage For="@(() => homework.DeadLine)" />
                    </div>
                    <div class="form-group">
                        <label for="Name" class="control-label">Множитель</label>
                        <InputNumber id="Name" class="form-control" @bind-Value="homework.Factor" />
                        <ValidationMessage For="@(() => homework.Factor)" />
                    </div>
                    <div class="form-group">
                        <label for="Email" class="control-label">Описание</label>
                        <InputTextArea id="Email" class="form-control" rows="5" @bind-Value="homework.Description" />
                        <ValidationMessage For="@(() => homework.Description)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        @*<button class="btn btn-primary" @onclick="CloseModal">Отмена</button>*@
                    </div>
                </EditForm>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@*Удаление домашнего задания*@
<div>
    <BSModal @bind-IsOpen="isView" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
        <BSModalHeader @onclick="CloseModal">@modalTitle</BSModalHeader>
        <BSModalBody>
            <div class="col-md-12">
                @if (isDelete)
                {
                    <BSAlert Color="Color.Danger">Вы точно хотите удалить домашнее задание?</BSAlert>
                }
                <BSTable IsResponsive="true" class="table">
                    <tr>
                        <td>Тема</td>
                        <td>@homework.Name</td>
                    </tr>
                    <tr>
                        <td>Сдать до</td>
                        <td>@homework.DeadLine.ToString("dd MMMM yyyy")</td>
                    </tr>
                    <tr>
                        <td>Множитель</td>
                        <td>@homework.Factor</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>@homework.Description</td>
                    </tr>
                </BSTable>
                <div class="form-group">
                    @if (isDelete)
                    {
                        <button type="button" class="btn btn-danger" @onclick="@(async() => await RemoveHomeworkAsync())">Удалить</button>
                        @*<button class="btn btn-primary" @onclick="CloseModal">Отмена</button>*@
                    }
                    @*@if (!isDelete)
                    {
                        <button class="btn btn-primary" @onclick="CloseModal">Назад</button>
                    }*@
                </div>
            </div>
        </BSModalBody>
    </BSModal>
</div>

@code {
    [Parameter]
    public int LessonId
    {
        get => lessonId;
        set => lessonId = value;
    }


    protected PagedResult<Homework> Homeworks { get; set; }

    protected Homework homework = new Homework();
    protected int CurrentHomeworkId { get; set; }
    protected string modalTitle { get; set; }
    protected bool isAdd { get; set; }
    protected bool isView { get; set; }
    protected bool isDelete { get; set; }

    private int lessonId = 1;
    private bool _loadFailed;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            string requestUri;
            string response;
            IList<Homework> homeworks;

            _loadFailed = false;

            requestUri = Storage.GetItem("environment_uri") + "/api/homework";
            Console.WriteLine("HomeworkList| OnParametersSetAsync: requestUri = '{0}'", requestUri);

            response = await Http.GetStringAsync(requestUri);
            Console.WriteLine("HomeworkList| OnParametersSetAsync: response = '{0}'", response);

            homeworks = JsonConvert.DeserializeObject<IList<Homework>>(response).Where(hw => hw.LessonId == this.lessonId).ToList();
            Console.WriteLine("HomeworkList| OnParametersSetAsync: homeworks.Count = '{0}'", homeworks.Count);

            this.Homeworks = new PagedResult<Homework> { Results = homeworks };
        }
        catch (Exception ex)
        {
            _loadFailed = true;
            Console.WriteLine("HomeworkList| OnParametersSetAsync :error = '{0}'", ex.Message);
        }

        await base.OnParametersSetAsync();
    }

    protected bool isLoggedOn()
    {
        //return (Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")));
        Console.WriteLine("isLoggedOn");
        return true;
    }

    /// <summary>
    /// Добавить/создать домашнее задание.
    /// </summary>
    /// <returns>Асинхронная операция.</returns>
    private async Task AddHomeworkAsync()
    {
        // var token = Storage["JWT-Token"];
        // Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        if (CurrentHomeworkId == 0)
        {
            homework.LessonId = this.lessonId;
            await Http.SendJsonAsync(HttpMethod.Post, Storage.GetItem("environment_uri") + "/api/homework", homework);
            Storage.SetItem("Transaction", "created");
        }
        else
        {
            await Http.SendJsonAsync(HttpMethod.Put, Storage.GetItem("environment_uri") + "/api/homework", homework);
            Storage.SetItem("Transaction", "modified");
        }
        CloseModal();
        await OnParametersSetAsync();
    }

    private void AddHomework()
    {
        this.isAdd = true;
        this.modalTitle = "Создание домашнего задания";
    }

    /// <summary>
    /// Показать домашнее задание.
    /// </summary>
    /// <param name="homeworkId">Идентификатор домашнего задания.</param>
    /// <returns>Асинхронная операция.</returns>
    private async Task ViewHomeworkAsync(int homeworkId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/homework/GetById?id=" + homeworkId;
        homework = await Http.GetJsonAsync<Homework>(requestUri);
        CurrentHomeworkId = homeworkId;
        this.isView = true;
        this.modalTitle = "Просмотр домашнего задания";
    }

    /// <summary>
    /// Обновить домашнее задание.
    /// </summary>
    /// <param name="homeworkId">Идентификатор домашнего задания.</param>
    /// /// <returns>Асинхронная операция.</returns>
    protected async Task UpdateHomeworkAsync(int homeworkId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/homework/GetById?id=" + homeworkId;
        homework = await Http.GetJsonAsync<Homework>(requestUri);
        CurrentHomeworkId = homeworkId;
        this.isAdd = true;
        this.modalTitle = "Редактирование домашнего задания";
    }

    /// <summary>
    /// Удалить домашнее задание.
    /// </summary>
    /// <param name="homeworkId">Идентификатор домашнего задания.</param>
    /// <returns>Асинхронная операция.</returns>
    protected async Task DeleteHomeworkAsync(int homeworkId)
    {
        string requestUri = Storage.GetItem("environment_uri") + "/api/homework/GetById?id=" + homeworkId;
        homework = await Http.GetJsonAsync<Homework>(requestUri);
        CurrentHomeworkId = homeworkId;
        this.isView = true;
        this.isDelete = true;
        this.modalTitle = "Удаление домашнего задания";
    }

    protected void CloseModal()
    {
        homework = new Homework();
        CurrentHomeworkId = 0;
        this.isAdd = false;
        this.isView = false;
        this.isDelete = false;
        StateHasChanged();
    }

    /// <summary>
    /// Удалить домашнее задание.
    /// </summary>
    /// <returns>Асинхронная операция.</returns>
    protected async Task RemoveHomeworkAsync()
    {
        //var token = Storage["JWT-Token"];
        //Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        string requestUri = Storage.GetItem("environment_uri") + "/api/homework?id=" + this.CurrentHomeworkId;
        await Http.DeleteAsync(requestUri);
        CloseModal();
        Storage.SetItem("Transaction", "modified");
        await OnParametersSetAsync();
    }
}
